 @model Casadeshow.Models.Compra

@{
    ViewData["Title"] = "Compra";
}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="container">

<br>  <p class="text-center"><a asp-action="Index" asp-controller="Home">Voltar</a></a></p>
<hr>

<div class="row">
<div class="col-md-4">
</div> <!-- col // -->
<div class="col-md-4">
                <form asp-action="ConfirmaCompra">
	<figure class="card card-product" asp-action="ConfirmaCompra">
		<figcaption class="info-wrap">
				<h4 class="title" style="text-align: center;">Evento</h4>
                <label asp-for="QtdIngressos" class="control-label" >Número de ingressos para compra:</label>
                <input type="number" asp-for="QtdIngressos" class="form-control" value="1"  min="1" max="@Model.Evento.QtdIngresso"/>
                <input type="hidden" asp-for="Evento.EventoId"/>
                
            <div class="form-group">
            </div>

				<div class="rating-wrap">
					<div>@Model.Evento.Nome</div>
					<div>Ingressos disponíveis: @Model.Evento.QtdIngresso</div>
				</div> <!-- rating-wrap.// -->
		</figcaption>
		<div class="bottom-wrap">
				<input type="submit" class="btn btn-sm btn-primary float-right">Comprar</a>
                <div><span>Preço unitário: </span> </div>
				<div class="price-wrap h3" style="text-align: center; color: forestgreen;">
					<span class="price-new">R$@Model.Evento.PrecoIngresso</span>
				</div> <!-- price-wrap.// -->
		</div> <!-- bottom-wrap.// -->
	</figure>
                </form>	
</div> <!-- col // -->
<div class="col-md-4">
</div> <!-- col // -->
</div> <!-- row.// -->

</div> 
