@model Casadeshow.DTO.HistoricoDTO

@{
    ViewData["Title"] = "Criar eventos";
}

<h3>Criar</h3>

<hr />
<div class="row">
    <div class="col-md-4">
        

        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Evento" />
            <div class="form-group">
                <button type="submit" value="Save" class="btn btn-primary">Salvar</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>