@model IEnumerable<Casadeshow.Models.Historico>

@{
    ViewData["Title"] = "Seu histórico";
}

<div style="text-align:center;border:3px solid green">
    <h1>Seu histórico</h1>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Preço do Ingresso
            </th>
            <th>
                Ingressos disponíveis
            </th>
            <th>
                Casa de Show
            </th>
            <th>
                Gênero
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
