@model IEnumerable<Casadeshow.Models.Historico>

@{
    ViewData["Title"] = "Seu histórico";
}

<div style="text-align:center;border:3px solid green">
    <h1>Seu histórico</h1>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Preço do Ingresso
            </th>
            <th>
                Ingressos disponíveis
            </th>
            <th>
                Casa de Show
            </th>
            <th>
                Gênero
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Evento.Nome)
            </td>
                @Html.DisplayFor(modelItem => item.User.Id)
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
        </tr>
}
    </tbody>
</table>
